<%- result = @battle.result.nil? ? nil : JSON.parse(@battle.result, quirks_mode: true) %>

<%- if result.is_a?(Array) %>
var content = "<%= j(render 'table_result', result: result) %><%= j(render 'get_link_form', battle: @battle) %>"
<%- elsif result %>
var content = "<center><h3>Please check your Before and After code!</h3></center><br/><center><%= j(result) %></center>"
<%- else %>
var content = "<center><%= @battle.errors.full_messages.to_sentence %></center>"
<%- end %>

$('#result').html(content)
